In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

Read in avocado

In [2]:
df = pd.read_csv('../resources/avocado.csv')
df.head()

,Date,AveragePrice,Total Volume,Small Hass,Large Hass,XL Hass,Total Bags,Small Bags,Large Bags,XLarge Bags,Type,Year,Region
0,27/12/2015,1.33,64236.62,1036.74,54454.85,48.16,8696.87,8603.62,93.25,0.0,conventional,2015,Albany
1,20/12/2015,1.35,54876.98,674.28,44638.81,58.33,9505.56,9408.07,97.49,0.0,conventional,2015,Albany
2,13/12/2015,0.93,118220.22,794.70,109149.67,130.50,8145.35,8042.21,103.14,0.0,conventional,2015,Albany
3,6/12/2015,1.08,78992.15,1132.00,71976.41,72.58,5811.16,5677.40,133.76,0.0,conventional,2015,Albany
4,29/11/2015,1.28,51039.60,941.48,43838.39,75.78,6183.95,5986.26,197.69,0.0,conventional,2015,Albany

In [3]:
df.shape

(18249, 13)

Rename for easier access

In [4]:
df.columns = ('Date', 'avgPrice', 'totalVolume', 'smallHass', 'largeHass', 'xlHass', 'totalBags', 'smallBags', 'largeBags', 'xlBags', 'type', 'year', 'region')

In [13]:
df[abs(df['totalVolume'] - df['smallHass'] - df['largeHass'] - df['xlHass']) < 10].shape[0]

26

Cannot assume that total volume is the sum of small, large and xl

In [6]:
df.columns

Index(['Date', 'avgPrice', 'totalVolume', 'smallHass', 'largeHass', 'xlHass',
       'totalBags', 'smallBags', 'largeBags', 'xlBags', 'type', 'year',
       'region'],
      dtype='object')